.challangesBoxContainerPC{
    height: 100%;

    background: var(--black);
    box-shadow: 0 0 60px rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.challangesBoxNotActive{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.challangesBoxNotActive strong{
    font-size: 1.5rem;
    line-height: 1.4rem;
    font-weight: 500;
}
.challangesBoxNotActive p{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4rem;
    max-width: 70%;
    margin-top: 3rem;
}
.challangesBoxNotActive p img{
    margin-bottom: 1rem;
}
.challangesBoxActive{
    height: 100%;
    display: flex;
    flex-direction: column;

}
.challangesBoxActive header{
    color: var(--white);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2.5rem 1rem;
    border-bottom: 1px solid var(--gray-line);

}
.challangesBoxActive main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.challangesBoxActive main strong{
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}
.challangesBoxActive main p{
    line-height: 1.2rem;
}
.challangesBoxActive footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.challangesBoxActive footer button{
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);

    font-size: 1rem;
    font-weight: 600;

}
.challangesBoxActive footer button.challengesFailButton{
    background: var(--red);

}
.challangesBoxActive footer button.challengesSuccededButton{
    background: var(--green);

}
.challangesBoxActive footer button:hover{
    filter: brightness(0.9);
}
@keyframes teste{
    0%{
        top: 800px;
        left: 0;
        right: 0;
    }
    50%{
        top: 100px;
        left: 0;
        right: 0;
    }
    100%{
        top: 15px;
        left: 0;
        right: 0;
    }
}
@media(max-width:650px){
    .challangesBoxContainerDisable{
        display: none;
      
    }
    .challangesBoxContainerAPP{
        
        margin: 1rem;
        margin-top: 6rem;
        height: 70%;
        top: 0;
        left: 0;
        right: 0;
        background: var(--black);
        box-shadow: 0 0 60px rgba(0,0,0,0.05);
        border-radius: 5px;
        position: absolute;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        animation: teste 0.7s linear;
       
    }
  


    .challangesBoxActive{
        padding: 1.5rem 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
    
    }
    .challangesBoxActive header{
        color: var(--white);
        margin-bottom: 0.5rem;
        font-weight: 600;
        font-size: 1.25rem;
        padding: 0 2.5rem 1rem;
        border-bottom: 1px solid var(--gray-line);
    
    }
    .challangesBoxActive main{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .challangesBoxActive main strong{
        font-size: 2rem;
        font-weight: 600;
        color: var(--title);
        margin: 1.5rem 0 1rem;
    }
    .challangesBoxActive main p{
        line-height: 1.2rem;
    }
    .challangesBoxActive footer{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .challangesBoxActive footer button{
        height: 3rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border: 0;
        border-radius: 5px;
    
        color: var(--white);
    
        font-size: 1rem;
        font-weight: 600;
    
    }
    .challangesBoxActive footer button.challengesFailButton{
        background: var(--red);
    
    }
    .challangesBoxActive footer button.challengesSuccededButton{
        background: var(--green);
    
    }
    
}
@media(max-width:630px){
    
    .challangesBoxContainer{
        display: block;
    }
}


    
    