.Overlay{
    background: rgba(242,243,245,0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Container{
    position: relative;
    height: 46rem;
    width: 40rem;
    background: white;

    

    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.685);

    border-radius: 5px;

    padding: 1rem;

}

.Header img{

    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    
}
.Header{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
   background-position: center;
   background-size: cover;

   

}
.Profile{

    position: relative;
    
}

   
.spanLine{
    width: 100%;
    border: 0;
    height: 1px;
    background: rgb(51, 51, 51);
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.UserName{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.UserName h2{
    color: #000;
}
.Forms{
    margin: 4rem;
    display: flex;
    padding-left: 1rem;
    flex-direction: column;
    
    border-radius: 5px;
}
.Forms h3{
    font-size: 1rem;
    
    color: #fff;
    
}
.Input{
    height: 3rem;
    width: 100%;
    color: fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
   
}

.BoxInput{
    border-radius: 5px;
    background: var(--black);
    margin: 1rem;
    padding-left: 1rem;
   
}
.Button{
   
    height: 3rem;
    color: #000;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(209, 208, 208);
    border-radius: 4px;
    transition: 0.7s ease linear;
}
.Button:hover{
    color: #000;
    background: linear-gradient(-45deg, rgb(248, 232, 2) 30%, rgb(255, 156, 8));
    cursor: pointer;
}
.ChangePassword{
    margin: 1rem;
    
}
.Contents p{
    color: #000;
    font-size: 0.9rem;
    
}
.InputPassword{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    
    font-size: 1.1rem;
    font-weight:500;
    
    width: 30%;
    margin-top: 3rem;
    border-radius: 5px;
    
    background: rgb(209, 208, 208);
    color: black;

    user-select: none;

    transition: 0.7s ease linear;
}
.InputPassword:hover{
    color: #000;
    background: linear-gradient(-45deg, rgb(248, 232, 2) 30%, rgb(255, 156, 8));
    cursor: pointer;
}
.ExitButton{
    top: 0;
    right: 0;
    position: absolute;

   
}
.ExitButton img:first-child{
    
    margin: 0.5rem;
    height: 1.4rem;
    width: 1.5rem;

   
}
.UploadContainer{
    
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    background: black;

    
    margin: 4rem;
    margin-top:-3rem;
    height: 30rem;
    width: 30rem;

    padding: 3rem;
    border-radius: 5px;
   
}
.UploadInput > img{
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.UploadInput{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    width: 55%;
    height: 3rem;
   
    border-radius: 5px;

    background: white;
    color: #000;
    
    font-weight: 500;
    transition: 0.7s ease linear;
}
.Photo{
    position: relative;
    width: 7rem;
    height: 7rem;

    
    
}
.overlayPhoto{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    

    background: rgba(192, 192, 192, 0.63);
    width: 100%;
    height: 0rem;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    overflow: hidden;
    transition: 0.1s ease;
}
.overlayPhoto > img{
    border-radius: 0;
    height: 1.5rem;
    width: 1.5rem;
}
.Photo:hover .overlayPhoto{
    height:3.2rem;
}
.clickedArea{
    cursor: pointer;
}
.ExitApp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ButtonExit{

    display: flex;
    justify-content: center;
    align-items: center;

   
    background: rgba(192, 192, 192, 0.63);
    color: #000;
    font-weight: 500;
    font-size: 1.3rem;

    margin: 3rem;
    width: 30%;
    height: 3rem;

    border-radius: 5px;
}
.ButtonExit:hover{
    cursor: pointer;
    background: linear-gradient(-45deg, rgb(248, 232, 2) 30%, rgb(255, 156, 8));
  
}
.PhotoConfirm{
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;

   
    z-index: 9999;
    position: absolute;
    background: red;
}
.PhotoContentes{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.PhotoContentes span{
    margin-bottom: 1rem;
}