.userLoginContainer{
    height:100vh;
    flex: 1;
    box-shadow: 0 0 60px rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 1.5rem 2rem;
    justify-content: center;
    align-items: center;
    display: flex;

   
}
.userLoginContents{
    margin-bottom: 2.5rem;
}
.userLoginContents form{
    margin-bottom: 1rem;
}
.userLoginContents button{
    width: 20rem;
    border: 0;
    padding: 0.7rem;
    border-radius: 5px;

    background:rgb(17, 17, 17);
    color: var(--white);
    transition: 0.2s;
}
.userLoginContents button:hover {
    background: #000;
}
.userLoginContents button:disabled{
    background: var(--gray-line);
    color: #000;
}

.userLoginContainer form{
    width: 100%;
}
.userLoginContainer img{
    width: 10rem;
    height: 10rem;
    margin: 1.5rem;
    border-radius: 40%;
    
}
.userLoginContainer p{
    font-size: 1.5rem;
    font-weight: 600;
}

.userLoginBox{
    background: var(--white);
    height: 100%;
    width: 500px;
    box-shadow: 0 0 60px rgba(0,0,0,0.05);
    flex-direction: column;

    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.userLoginInput{
    margin: 2rem;
    padding: 0 1rem;
    
}
.userLoginInput input{
    padding: 0.7rem;
    width: 20rem;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
    text-align: center;
}
.userLoginInput input::-webkit-input-placeholder{
    color: rgba(0,0,0,0.5);
    font-size: 0.8rem;
    display: flex;
    text-align: center;
    font-weight: 600;
    
}
.userLoginOthersLogins img{
    height: 1.5rem;
    width: 1.5rem;
}
.userLoginContents span{
    margin-top: 1rem;
    font-size: 0.85rem;
    font-weight: 500;
}
.userLoginContents span > a{
    color: rgb(13, 70, 224);
    font-size: 0.9rem;
    font-weight: 600;
}